In [2]:
# Import necessary package
import pandas as pd
import numpy as np
import GetOldTweets3 as got

In [1]:
ls

2012topic1.png            SenateList.csv            testing2012.csv
2012topic2.png            SenateList1.csv           testing2016.csv
HillaryElection.csv       TestingData.ipynb         train2012.csv
IMMALERE.png              TrainingData.ipynb        train2016.csv
ObamaElection.csv         TrumpElection.csv         training2012.csv
RomneyElection.csv        Updated_Senate_List.csv   training2016.csv
Senate List.xlsx          Updated_Senate_List.xlsx

In [64]:
# Load the senate list file which contain senate information, 
# Name, Party, State and Twitter Account for all three election year 
data = pd.read_csv('Updated_Senate_List.csv', sep = ',')
data.head(5)

,2012 Senate,Party,State,Twitter Account,#Tweets,2016 Senate,Party.1,State.1,Twitter Account.1,#Tweets.1,Current Senate,Party.2,State.2,Twitter Account.2
0,Al Franken,D,MN,AlFranken,NaN,Al Franken,D,MN,AlFranken,NaN,Amy Klobuchar,D,MN,SenAmyKlobuchar
1,Amy Klobuchar,D,MN,SenAmyKlobuchar,NaN,Amy Klobuchar,D,MN,SenAmyKlobuchar,NaN,Angus S. King Jr.,I,ME,SenAngusKing
2,Barbara Boxer,D,CA,BarbaraBoxer,NaN,Angus S. King Jr.,I,ME,SenAngusKing,NaN,Ben Sasse,R,NE,SenSasse
3,Barbara Mikulski,D,MD,SenatorBarb,NaN,Barbara Boxer,D,CA,BarbaraBoxer,NaN,Benjamin Cardin,D,MD,SenatorCardin
4,Ben Nelson,D,NE,NONE,NaN,Barbara Mikulski,D,MD,SenatorBarb,NaN,Bernard Sanders,D,VT,SenSanders

In [7]:
# we want to focus on 2020
data[['Current Senate', 'Party.2', 'State.2', 'Twitter Account.2']]

        Current Senate Party.2 State.2 Twitter Account.2
0        Amy Klobuchar       D      MN   SenAmyKlobuchar
1    Angus S. King Jr.       I      ME      SenAngusKing
2            Ben Sasse       R      NE          SenSasse
3      Benjamin Cardin       D      MD     SenatorCardin
4      Bernard Sanders       D      VT        SenSanders
..                 ...     ...     ...               ...
105        Andrew Yang       D     NaN        AndrewYang
106     Pete Buttigieg       D     NaN     PeteButtigieg
107  Michael Bloomberg       D     NaN     MikeBloomberg
108         Tom Steyer       D     NaN         TomSteyer
109      Deval Patrick       D     NaN       DevalPatric

[110 rows x 4 columns]

# 2020 Election Year

In [9]:
# 2020 Election year
account2020 = list(data['Twitter Account.2'].values)
tweets2020 = pd.DataFrame(columns = ['Datetime', 'Text','TweetID','username','geo'])

for account in account2020:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2020-01-01')\
                                           .setUntil('2020-05-29')\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2020 = tweets2020.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenAmyKlobuchar
	 Done scraping
SenAngusKing
	 Done scraping
SenSasse
	 Done scraping
SenatorCardin
	 Done scraping
SenSanders
	 Done scraping
SenBillCassidy
	 Done scraping
SenBrianSchatz
	 Done scraping
SenCortezMasto
	 Done scraping
SenSchumer
	 Done scraping
ChrisVanHollen
	 Done scraping
ChrisCoons
	 Done scraping
SenMurphyOffice
	 Done scraping
ChuckGrassley
	 Done scraping
SenHydeSmith
	 Done scraping
CoryBooker
	 Done scraping
SenCoryGardner
	 Done scraping
SenDanSullivan
	 Done scraping
sendavidperdue
	 Done scraping
SenatorFischer
	 Done scraping
SenStabenow
	 Done scraping
SenFeinstein
	 Done scraping
SenDougJones
	 Done scraping
SenMarkey
	 Done scraping
SenWarren
	 Done scraping
SenGaryPeters
	 Done scraping
SenJackReed
	 Done scraping
SenJackyRosen
	 Done scraping
SenatorRisch
	 Done scraping
JimInhofe
	 Done scraping
SenatorLankford
	 Done scraping
SenataorShaheen
	 Done scraping
SenJeffMerkley
	 Done scraping
JerryMoran
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Ajerrymoran%20since%3A2020-01-01%20until%3A2020-05-29&src=typd

SystemExit:

/Users/wenniehu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [10]:
print(len(tweets2020))
tweets2020.sample(5)

13113

,Datetime,Text,TweetID,username,geo
3449,2020-02-10 16:14:00+00:00,"Not only is retaliation against LTC Vindman, t...",1226902142583222272,SenSchumer,
6648,2020-01-01 20:23:16+00:00,I introduced my VA Readiness Initiative earlie...,1212469359018463234,SenCoryGardner,
12076,2020-02-25 23:31:01+00:00,Proud to vote in favor of the pro-life bills t...,1232447941907906560,JimInhofe,
1791,2020-01-30 14:24:37+00:00,Great News! @USDA just announced a $15.5M inve...,1222888350702624768,SenBillCassidy,
11024,2020-04-16 22:39:41+00:00,.@SenatorLankford &amp; I are pleased to welco...,1250916801627774977,SenJackyRosen,

In [ ]:
# Finish scraping up to SenJeffMerkley, starting the iteration again at account2020[32:]

In [19]:
for account in account2020[32:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2020-01-01')\
                                           .setUntil('2020-05-29')\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2020 = tweets2020.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

JerryMoran
	 Done scraping
Sen_JoeManchin
	 Done scraping
SenJohnBarrasso
	 Done scraping
JohnBoozman
	 Done scraping
JohnCornyn
	 Done scraping
SenHawleyPress
	 Done scraping
SenJohnHoeven
	 Done scraping
SenJohnKennedy
	 Done scraping
SenJohnThune
	 Done scraping
SenatorTester
	 Done scraping
SenJoniErnst
	 Done scraping
SenKamalaHarris
	 Done scraping
SenatorLoeffler
	 Done scraping
SenKevinCramer
	 Done scraping
gillibrandny
	 Done scraping
SenatorSinema
	 Done scraping
SenAlexander
	 Done scraping
LindseyGrahamSC
	 Done scraping
lisamurkowski
	 Done scraping
SenRubioPress
	 Done scraping
SenatorHassan
	 Done scraping
SenatorCantwell
	 Done scraping
MarkWarner
	 Done scraping
MarshaBlackburn
	 Done scraping
SenMcSallyAZ
	 Done scraping
MartinHeinrich
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Amartinheinrich%20since%3A2020-01-01%20until%3A2020-05-29&src=typd

SystemExit:

/Users/wenniehu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [26]:
print(len(tweets2020))
tweets2020.sample(5)

26709

,Datetime,Text,TweetID,username,geo
394,2020-05-28 16:49:24+00:00,HAPPENING SOON: Looking forward to this discus...,1266048940136435713,SenatorCardin,
6899,2020-02-17 01:00:41+00:00,"In so doing, she helped pass Alaska’s Anti-Dis...",1229209016410279936,SenDanSullivan,
8741,2020-04-13 19:32:07+00:00,Sanctions programs are not successful if they ...,1249782438848614400,SenMarkey,
16755,2020-05-26 16:39:06+00:00,You can’t trust the Chinese Communist Party—ev...,1265321572736421889,SenJohnKennedy,
7135,2020-02-21 19:39:55+00:00,With over 7 million job openings in America to...,1230940230347362304,sendavidperdue,

In [ ]:
# Finish scraping up to SenMcSallyAZ, starting the iteration again at account2020[57:]

In [27]:
for account in account2020[57:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2020-01-01')\
                                           .setUntil('2020-05-29')\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2020 = tweets2020.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

MartinHeinrich
	 Done scraping
maziehirono
	 Done scraping
SenatorEnzi
	 Done scraping
SenatorBennet
	 Done scraping
SenatorBraun
	 Done scraping
MikeCrapo
	 Done scraping
SenMikeLee
	 Done scraping
SenatorRounds
	 Done scraping
SenateMajLdr
	 Done scraping
SenatorRomney
	 Done scraping
SenPatRoberts
	 Done scraping
SenToomey
	 Done scraping
SenatorLeahy
	 Done scraping
PattyMurray
	 Done scraping
RandPaul
	 Done scraping
SenBlumenthal
	 Done scraping
SenatorBurr
	 Done scraping
SenShelby
	 Done scraping
SenatorDurbin
	 Done scraping
SenRickScott
	 Done scraping
senrobportman
	 Done scraping
SenatorMenedez
	 Done scraping
SenBobCasey
	 Done scraping
SenatorWicker
	 Done scraping
SenRonJohnson
	 Done scraping
RonWyden
	 Done scraping
RoyBlunt
	 Done scraping
SenWhitehouse
	 Done scraping
SenCapito
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Asencapito%20since%3A2020-01-01%20until%3A2020-05-29&src=typd

SystemExit:

/Users/wenniehu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [28]:
print(len(tweets2020))
tweets2020.sample(5)

39654

,Datetime,Text,TweetID,username,geo
25179,2020-05-22 11:55:02+00:00,"Get wisdom, get understanding; do not forget m...",1263800535943131136,MarshaBlackburn,
9598,2020-04-03 17:31:11+00:00,Testing should be free & accessible for all. T...,1246128122975719424,SenWarren,
22442,2020-04-02 22:43:30+00:00,"These are stressful, uncertain times, but as w...",1245844335385391104,lisamurkowski,
15053,2020-05-02 22:25:40+00:00,East Texas housing authorities to receive $1.7...,1256711483339223040,JohnCornyn,
19611,2020-04-20 20:08:01+00:00,"Right now, the highest number of Saudi oil tan...",1252328188371521538,SenKevinCramer,

In [ ]:
# Finish scraping up to SenWhitehouse, starting the iteration again at account2020[85:]

In [33]:
for account in account2020[85:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2020-01-01')\
                                           .setUntil('2020-05-29')\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2020 = tweets2020.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenCapito
	 Done scraping
SenSherrodBrown
	 Done scraping
SteveDaines
	 Done scraping
SenatorCollins
	 Done scraping
SenatorBaldwin
	 Done scraping
SenDuckworth
	 Done scraping
SenTedCruz
	 Done scraping
SenThomTillis
	 Done scraping
SenatorCarper
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenatorTimScott
	 Done scraping
SenTinaSmith
	 Done scraping
SenToddYoung
	 Done scraping
SenTomCotton
	 Done scraping
SenatorTomUdall
	 Done scraping
nan

AttributeError: 'float' object has no attribute 'lstrip'

In [34]:
print(len(tweets2020))
tweets2020.sample(5)

47281

,Datetime,Text,TweetID,username,geo
20924,2020-02-29 17:01:30+00:00,.@NAU's Teachers Academy is strengthening Ariz...,1233799465250758656,SenatorSinema,
14936,2020-05-14 10:44:50+00:00,@WSJ A stunning 39 separate officials snooped ...,1260883766043697152,JohnCornyn,
30608,2020-04-29 00:05:00+00:00,"It's simple: vaccines are safe, effective, & l...",1255286927516975104,PattyMurray,
29215,2020-05-15 18:21:56+00:00,"80,000 Americans have died. More than 20 milli...",1261361186148319232,senatemajldr,
9665,2020-03-26 13:28:01+00:00,Restarting our economy will require one thing ...,1243167825138798594,SenWarren,

In [ ]:
# Finish scraping up to SenatorTomUdall, starting the iteration again at account2020[102:]

In [38]:
for account in account2020[102:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2020-01-01')\
                                           .setUntil('2020-05-29')\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2020 = tweets2020.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

realDonaldTrump
	 Done scraping
JoeBiden
	 Done scraping
TulsiGabbard
	 Done scraping
AndrewYang
	 Done scraping
PeteButtigieg
	 Done scraping
MikeBloomberg
	 Done scraping
TomSteyer
	 Done scraping
DevalPatric
	 Done scraping

In [39]:
print(len(tweets2020))
tweets2020.sample(5)

56121

,Datetime,Text,TweetID,username,geo
17320,2020-05-05 22:03:50+00:00,Montana’s educators are the best in the busine...,1257793150447386630,SenatorTester,
42667,2020-02-12 20:22:06+00:00,Our military’s ability to prevail in the “Grea...,1227689355365507073,SenDuckworth,
39304,2020-02-20 00:35:00+00:00,I like this carbon pricing; with a little flex...,1230289714411950080,SenWhitehouse,
50399,2020-02-05 22:01:00+00:00,My North Star as president will be rebuilding ...,1225177528890884096,JoeBiden,
4140,2020-05-21 01:41:53+00:00,The Senate Judiciary Committee *should* be add...,1263283843567583235,ChrisCoons,

In [41]:
print(tweets2020.shape)

# Remove duplicate tweets
tweets2020 = tweets2020.drop_duplicates('TweetID', keep = 'first')

print(tweets2020.shape)

(56121, 5)
(56121, 5)

In [42]:
# # Save raw data to training2020.csv
# tweets2020.to_csv('training2020.csv', index = False)

In [66]:
tweets2020['Twitter Account.2'] = tweets2020['username']
tweets2020 = tweets2020.merge(data[['Twitter Account.2','Party.2', 'State.2']], how = 'left', on = 'Twitter Account.2')
tweets2020 = tweets2020.rename( columns = {'Party.2': 'Party', 'State.2':'State'})
tweets2020 = tweets2020.drop(columns = 'Twitter Account.2')
tweets2020.head()

,Datetime,Text,TweetID,username,geo,Party,State
0,2020-05-25 15:28:49+00:00,,1264941500208754688,SenAmyKlobuchar,,D,MN
1,2020-05-25 14:21:27+00:00,,1264924547700178944,SenAmyKlobuchar,,D,MN
2,2020-05-25 12:24:33+00:00,“On this Memorial Day we honor all of those wh...,1264895127677534210,SenAmyKlobuchar,,D,MN
3,2020-05-24 17:33:07+00:00,Sen. Klobuchar joined @SenBrianSchatz to intro...,1264610392292147200,SenAmyKlobuchar,,D,MN
4,2020-05-22 22:09:24+00:00,“At a time when many farmers and rural communi...,1263955146771496960,SenAmyKlobuchar,,D,MN

In [65]:
tweets2020 = tweets2020.drop(columns = ['Party', 'State'])

In [69]:
# Check missing data in Text
np.sum(tweets2020['Text'].isna())

0

In [70]:
# Check missing data in username
np.sum(tweets2020['username'].isna())

0

In [67]:
# Check missing data in Party
np.sum(tweets2020['Party'].isna())

0

In [71]:
# Check missing data in State (presidential candidates do not have associated state info)
np.sum(tweets2020['State'].isna())

8840

In [72]:
# Save raw data with party information to train2020.csv
# tweets2020.to_csv('train2020.csv', index = False)