# Reference 
<br>
https://pypi.org/project/GetOldTweets3/
<br>
https://medium.com/analytics-vidhya/scraping-all-covid-19-symptoms-tweets-using-python-cce4eaeb369e

In [2]:
pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading GetOldTweets3-0.0.11-py3-none-any.whl (13 kB)
Requirement already satisfied: lxml>=3.5.0 in /Users/wenniehu/opt/anaconda3/lib/python3.7/site-packages (from GetOldTweets3) (4.4.1)
Collecting pyquery>=1.2.10
  Downloading pyquery-1.4.1-py2.py3-none-any.whl (22 kB)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import GetOldTweets3 as got

In [2]:
data = pd.read_csv('SenateList.csv', sep = ',')
data.head(5)

,2012 Senate,Party,State,Twitter Account,#Tweets,2016 Senate,Party.1,State.1,Twitter Account.1,#Tweets.1
0,Al Franken,D,MN,AlFranker,NaN,Amy Klobuchar,D,MN,SenAmyKlobuchar,NaN
1,Amy Klobuchar,D,MN,SenAmyKlobuchar,NaN,Angus S. King Jr.,I,ME,SenAngusKing,NaN
2,Barbara Boxer,D,CA,BarbaraBoxer,NaN,Ben Sasse,R,NE,SenSasse,NaN
3,Barbara Mikulski,D,MD,SenatorBarb,NaN,Benjamin Cardin,D,MD,SenatorCardin,NaN
4,Benjamin Cardin,D,MD,SenatorCardin,NaN,Bernard Sanders,D,VT,SenSanders,NaN

In [11]:
data[data['Twitter Account.1'] == 'NONE'][['2016 Senate', 'Party.1']]

   2016 Senate Party.1
94   Tim Kaine       D

# 2012 Election Year

In [89]:
# 2012 Election year
electionday2012 = '2012-11-06'
account2012 = list(data['Twitter Account'].values)
tweets2012 = pd.DataFrame(columns = ['Datetime', 'Text','TweetID','username','geo'])

for account in account2012:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2012-07-01')\
                                           .setUntil(electionday2012)\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2012 = tweets2012.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

AlFranker
	 Done scraping
SenAmyKlobuchar
	 Done scraping
BarbaraBoxer
	 Done scraping
SenatorBarb
	 Done scraping
SenatorCardin
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenSanders
	 Done scraping
SenBillNelson
	 Done scraping
SenBobCasey
	 Done scraping
senbobcorker
	 Done scraping
SenatorMenendez
	 Done scraping
SenCarlLevin
	 Done scraping
SenSchumer
	 Done scraping
ChrisCoons
	 Done scraping
ChuckGrassley
	 Done scraping
clairemc
	 Done scraping
SenDanCoats
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
Daniel_Inouye
	 Done scraping
DavidVitter
	 Done scraping
SenDeanHeller
	 Done scraping
SenStabenow
	 Done scraping
SenFeinstein
	 Done scraping
SenatorDurbin
	 Done scraping
FrankLautenberg
	 Done scraping
senatorreid
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenJackReed
	 Done scraping
SenRockefeller
	 Done scraping
SenataorShaheen
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenJeffMerkley
	 Done scraping
jeffsessions
	 Done scraping
JerryMoran
	 Done scraping
JimDeMint
	 Done scraping
jiminhofe
	 Done scraping
SenatorRisch
	 Done scraping
Jim WebbUSA
	 Done scraping
JoeLieberman
	 Done scraping
Sen_JoeManchin
	 Done scraping
SenJohnBarrasso
	 Done scraping
JohnBoozman
	 Done scraping
JohnCornyn
	 Done scraping
SenJohnHoeven
	 Done scraping
johnkerry
	 Done scraping
SenJohnMcCain
	 Done scraping
SenJohnThune
	 Done scraping
SenatorIsakson
	 Done scraping
senjonkyl
	 Done scraping
SenatorTester
	 Done scraping
kaybaileyhutch
	 Done scraping
kayhagan
	 Done scraping
KellyAyotte
	 Done scraping
KentConrad
	 Done scraping
gillibrandny
	 Done scraping
SenAlexander
	 Done scraping
LindseyGrahamSC
	 Done scraping
lisamurkowski
	 Done scraping
SenRubioPress
	 Done scraping
SenatorCantwell
	 Done scraping
MarkBegich
	 Done scraping
SenatorKirk
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
MarkUdall
	 Done scraping
MarkWarner
	 Done scraping
marylandrieu
	 Done scraping
MaxBaucus
	 Done scraping
SenatorBennet
	 Done scraping
MikeCrapo
	 Done scraping
SenatorEnzi
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenMikeLee
	 Done scraping
SenateMajLdr
	 Done scraping
senatorsnowe
	 Done scraping
RetiredOrrin
	 Done scraping
SenPatRoberts
	 Done scraping
SenToomey
	 Done scraping
SenatorLeahy
	 Done scraping
PattyMurray
	 Done scraping
RandPaul
	 Done scraping
SenBlumenthal
	 Done scraping
SenatorBurr
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenShelby
	 Done scraping
SenRobPortman
	 Done scraping
SenatorWicker
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Asenatorwicker%20since%3A2012-07-01%20until%3A2012-11-06&src=typd

SystemExit:

/Users/wenniehu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [112]:
print(len(tweets2012))
tweets2012.sample(5)

10262

,Datetime,Text,TweetID,username,geo
9331,2012-07-31 18:31:21+00:00,Sen Leahy: Time is running out for our biparti...,230370078347108352,SenatorLeahy,
1089,2012-07-28 12:45:28+00:00,Today's news from Sen. Bernie Sanders (I-Vt.):...,229195872712409088,SenSanders,
2933,2012-10-30 23:09:16+00:00,Thanks to @DefofFreedom and the Northern #Neva...,263417312181370880,SenDeanHeller,
6818,2012-08-01 18:05:15+00:00,"@WMUR9 video: In #NH, @SenJohnMcCain &amp; Sen...",230725897307688960,KellyAyotte,
181,2012-08-18 15:48:02+00:00,92 yrs ago women got the vote. It made history...,236851959867523072,SenatorBarb,

In [ ]:
# Finish scraping up to SenRobPortman, starting the iteration again at account2012[85:]

In [108]:
print(account2012[85:])

['SenatorWicker', 'SenRonJohnson', 'RonWyden', 'RoyBlunt', 'SenWhitehouse', 'SenScottBrown', 'SenWhitehouse', 'SenSherrodBrown', 'SenatorCollins', 'SenThadCochran', 'NONE', 'SenatorCarper', 'TomCoburn', 'SenatorHarkin', 'SenatorTomUdall', 'barackobama', 'SenatorRomney']

In [113]:
for account in account2012[85:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2012-07-01')\
                                           .setUntil(electionday2012)\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo ] for tweet in tweets]
        tweets2012 = tweets2012.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenatorWicker
	 Done scraping
SenRonJohnson
	 Done scraping
RonWyden
	 Done scraping
RoyBlunt
	 Done scraping
SenWhitehouse
	 Done scraping
SenScottBrown
	 Done scraping
SenWhitehouse
	 Done scraping
SenSherrodBrown
	 Done scraping
SenatorCollins
	 Done scraping
SenThadCochran
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenatorCarper
	 Done scraping
TomCoburn
	 Done scraping
SenatorHarkin
	 Done scraping
SenatorTomUdall
	 Done scraping
barackobama
	 Done scraping
SenatorRomney
	 Done scraping

In [114]:
tweets2012.tail()

,Datetime,Text,TweetID,username,geo
13346,2012-10-01 01:42:56+00:00,Watch live: President Obama speaks in Nevada a...,252584348648366080,BarackObama,
13347,2012-10-01 00:51:20+00:00,http://OFA.BO/uPtzJu RT @RufusGifford: Holy Mo...,252571364337266688,BarackObama,
13348,2012-09-30 23:49:03+00:00,Time to step up for the 4th quarter of this ca...,252555690143535105,BarackObama,
13349,2012-09-30 22:30:26+00:00,Sign up for Quick Donate to show your support ...,252535904084824064,BarackObama,
13350,2012-09-30 22:22:52+00:00,"A quick lesson in Quick Donate, from @IAmRashi...",252534000315420672,BarackObama,

In [145]:
tweets2012.to_csv('training2012.csv', index = False)

In [151]:
tweets2012['Twitter Account'] = tweets2012['username']
tweets2012 = tweets2012.merge(data[['Twitter Account','Party']], how = 'left', on = 'Twitter Account')
tweets2012 = tweets2012.drop(columns = 'Twitter Account')
tweets2012.head()

,Datetime,Text,TweetID,username,geo,Party
0,2012-11-05 18:23:52+00:00,"Californians, please join me in taking a stron...",265519817916821504,BarbaraBoxer,,D
1,2012-11-05 17:57:52+00:00,Vote Yes on #Prop37! Consumers have a right to...,265513274982948864,BarbaraBoxer,,D
2,2012-11-05 04:12:26+00:00,"Let's vote for our schools, our kids & our com...",265305548445069313,BarbaraBoxer,,D
3,2012-11-05 04:04:39+00:00,Prop 32 is a sham brought to us by special int...,265303589335998464,BarbaraBoxer,,D
4,2012-10-30 16:34:03+00:00,"Romney, who shipped a load of jobs to China, i...",263317853330100224,BarbaraBoxer,,D

In [152]:
tweets2012.to_csv('train2012.csv', index = False)

# 2016 Election Year

In [154]:
# 2016 Election year

electionday2016 = '2016-11-08'
account2016 = list(data['Twitter Account.1'].values)
tweets2016 = pd.DataFrame(columns = ['Datetime', 'Text','TweetID','username','geo'])

for account in account2016:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2016-07-01')\
                                           .setUntil(electionday2016)\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo] for tweet in tweets]
        tweets2016 = tweets2016.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenAmyKlobuchar
	 Done scraping
SenAngusKing
	 Done scraping
SenSasse
	 Done scraping
SenatorCardin
	 Done scraping
SenSanders
	 Done scraping
SenBillCassidy
	 Done scraping
SenBrianSchatz
	 Done scraping
SenCortezMasto
	 Done scraping
SenSchumer
	 Done scraping
ChrisVanHollen
	 Done scraping
ChrisCoons
	 Done scraping
SenMurphyOffice
	 Done scraping
ChuckGrassley
	 Done scraping
SenHydeSmith
	 Done scraping
CoryBooker
	 Done scraping
SenCoryGardner
	 Done scraping
SenDanSullivan
	 Done scraping
sendavidperdue
	 Done scraping
SenatorFischer
	 Done scraping
SenStabenow
	 Done scraping
SenFeinstein
	 Done scraping
SenDougJones
	 Done scraping
SenMarkey
	 Done scraping
SenWarren
	 Done scraping
SenGaryPeters
	 Done scraping
SenJackReed
	 Done scraping
SenJackyRosen
	 Done scraping
SenatorRisch
	 Done scraping
JimInhofe
	 Done scraping
SenatorLankford
	 Done scraping
SenataorShaheen
	 Done scraping
SenJeffMerkley
	 Done scraping
JerryMoran
	 Done scraping
Sen_JoeManchin
	 Done scraping
SenJohnBarrasso
	 Done scraping
JohnBoozman
	 Done scraping
JohnCornyn
	 Done scraping
SenHawleyPress
	 Done scraping
SenJohnHoeven
	 Done scraping
SenJohnKennedy
	 Done scraping
SenJohnThune
	 Done scraping
SenatorTester
	 Done scraping
SenJoniErnst
	 Done scraping
SenKamalaHarris
	 Done scraping
SenatorLoeffler
	 Done scraping
SenKevinCramer
	 Done scraping
gillibrandny
	 Done scraping
SenatorSinema
	 Done scraping
SenAlexander
	 Done scraping
LindseyGrahamSC
	 Done scraping
lisamurkowski
	 Done scraping
SenRubioPress
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Asenrubiopress%20since%3A2016-07-01%20until%3A2016-11-08&src=typd

SystemExit:

In [158]:
print(len(tweets2016))
tweets2016.sample(10)

11218

,Datetime,Text,TweetID,username,geo
1344,2016-09-01 00:26:53+00:00,For more facts on the Papahanaumokuakea expans...,771142245735141376,SenBrianSchatz,
846,2016-09-01 21:38:00+00:00,"If we as a nation do not get our act together,...",771462136165961728,SenSanders,
476,2016-07-08 17:47:33+00:00,#DallasPoliceShootings: Efforts to debase our ...,751472807272386560,SenatorCardin,
9399,2016-10-19 00:19:16+00:00,Quick reminder that the deadline to apply for ...,788534947736907776,SenJohnThune,
6393,2016-08-22 19:28:18+00:00,Went scuba diving @ThunderBayNMS today. What a...,767805615842484225,SenGaryPeters,
2241,2016-08-28 22:19:35+00:00,"Amazing sights, sounds and tastes at 2016 Inda...",770023045763330048,ChrisCoons,
5401,2016-08-15 22:12:07+00:00,#ClaytonFire doing major damage in Lake County...,765310126135717888,SenFeinstein,
4948,2016-07-12 18:36:42+00:00,Now: Chairing Surface Transportation Subcmte h...,752934729020768256,SenatorFischer,
3910,2016-08-04 19:05:09+00:00,Tonight join me @USAO_NJ @DanaRedd @njnaacp &a...,761276808675352576,CoryBooker,
10585,2016-07-20 23:00:51+00:00,Our caregiver working group is developing our ...,755900306328739840,SenatorSinema,

In [ ]:
# Finish scraping up to lisamurkowski, starting the iteration again at aaccount2016[51:]

In [159]:
print(account2016[51:])

['SenRubioPress', 'SenatorHassan', 'SenatorCantwell', 'MarkWarner', 'MarshaBlackburn', 'SenMcSallyAZ', 'MartinHeinrich', 'maziehirono', 'SenatorEnzi', 'SenatorBennet', 'SenatorBraun', 'MikeCrapo', 'SenMikeLee', 'SenatorRounds', 'SenateMajLdr', 'SenatorRomney', 'SenPatRoberts', 'SenToomey', 'SenatorLeahy', 'PattyMurray', 'RandPaul', 'SenBlumenthal', 'SenatorBurr', 'SenShelby', 'SenatorDurbin', 'SenRickScott', 'senrobportman', 'SenatorMenedez', 'SenBobCasey', 'SenatorWicker', 'SenRonJohnson', 'RonWyden', 'RoyBlunt', 'SenWhitehouse', 'SenCapito', 'SenSherrodBrown', 'SteveDaines', 'SenatorCollins', 'SenatorBaldwin', 'SenDuckworth', 'SenTedCruz', 'SenThomTillis', 'SenatorCarper', 'NONE', 'SenatorTimScott', 'SenTinaSmith', 'SenToddYoung', 'SenTomCotton', 'SenatorTomUdall', 'hillaryclinton', 'realDonaldTrump']

In [160]:
for account in account2016[51:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2016-07-01')\
                                           .setUntil(electionday2016)\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo] for tweet in tweets]
        tweets2016 = tweets2016.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenRubioPress
	 Done scraping
SenatorHassan
	 Done scraping
SenatorCantwell
	 Done scraping
MarkWarner
	 Done scraping
MarshaBlackburn
	 Done scraping
SenMcSallyAZ
	 Done scraping
MartinHeinrich
	 Done scraping
maziehirono
	 Done scraping
SenatorEnzi
	 Done scraping
SenatorBennet
	 Done scraping
SenatorBraun
	 Done scraping
MikeCrapo
	 Done scraping
SenMikeLee
	 Done scraping
SenatorRounds
	 Done scraping
SenateMajLdr
	 Done scraping
SenatorRomney
	 Done scraping
SenPatRoberts
	 Done scraping
SenToomey
	 Done scraping
SenatorLeahy
	 Done scraping
PattyMurray
	 Done scraping
RandPaul
	 Done scraping
SenBlumenthal
	 Done scraping
SenatorBurr
	 Done scraping
SenShelby
	 Done scraping
SenatorDurbin
	 Done scraping
SenRickScott
	 Done scraping
senrobportman
	 Done scraping
SenatorMenedez
	 Done scraping
SenBobCasey
	 Done scraping
SenatorWicker
	 Done scraping
SenRonJohnson
	 Done scraping
RonWyden
	 Done scraping
RoyBlunt
	 Done scraping
SenWhitehouse
	 Done scraping
SenCapito
	 Done scraping
SenSherrodBrown
	 Done scraping
SteveDaines
	 Done scraping
SenatorCollins
	 Done scraping
SenatorBaldwin
	 Done scraping
SenDuckworth
	 Done scraping
SenTedCruz
	 Done scraping
SenThomTillis
	 Done scraping
SenatorCarper
	 Done scraping
NONE
	 Skip scraping because of invalid twitter account input
SenatorTimScott
An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20from%3Asenatortimscott%20since%3A2016-07-01%20until%3A2016-11-08&src=typd

SystemExit:

In [ ]:
# Finish scraping up to Tim Kaine, starting the iteration again at account2016[95:]

In [171]:
account2016[95:]

['SenatorTimScott',
 'SenTinaSmith',
 'SenToddYoung',
 'SenTomCotton',
 'SenatorTomUdall',
 'hillaryclinton',
 'realDonaldTrump']

In [172]:
for account in account2016[95:]:
    print(account)
    if account == 'NONE':
        print('\t Skip scraping because of invalid twitter account input')
        continue
    else:
        tweetCriteria = got.manager.TweetCriteria().setUsername(account)\
                                           .setSince('2016-07-01')\
                                           .setUntil(electionday2016)\
                                           .setMaxTweets(5000)
        tweets = got.manager.TweetManager.getTweets(tweetCriteria)
        tweets_detail = [[tweet.date, tweet.text,tweet.id,tweet.username,tweet.geo] for tweet in tweets]
        tweets2016 = tweets2016.append(pd.DataFrame(tweets_detail, 
                                                    columns = ['Datetime', 'Text','TweetID','username','geo']), 
                                       ignore_index = True)
        print('\t Done scraping')

SenatorTimScott
	 Done scraping
SenTinaSmith
	 Done scraping
SenToddYoung
	 Done scraping
SenTomCotton
	 Done scraping
SenatorTomUdall
	 Done scraping
hillaryclinton
	 Done scraping
realDonaldTrump
	 Done scraping

In [173]:
tweets2016.to_csv('training2016.csv', index = False)

In [179]:
tweets2016['Twitter Account.1'] = tweets2016['username']

In [208]:
tweets2016 = tweets2016.drop(columns = 'Party')
tweets2016.head()

KeyError: "['Party'] not found in axis"

In [209]:
tweets2016['Twitter Account.1'] = tweets2016['username']
tweets2016 = tweets2016.merge(data[['Twitter Account.1','Party.1']], how = 'left', on = 'Twitter Account.1')
tweets2016 ['Party'] = tweets2016 ['Party.1'] 
tweets2016 = tweets2016.drop(columns = ['Twitter Account.1', 'Party.1'])
tweets2016.head()

,Datetime,Text,TweetID,username,geo,Party
0,2016-11-04 21:00:00+00:00,Important discussion with Bucksport officials ...,794645394844045312,SenAngusKing,,I
1,2016-11-04 20:35:01+00:00,Belfast’s Surge Hydro is 1 of 4 regional winne...,794639106466779140,SenAngusKing,,I
2,2016-11-04 20:30:00+00:00,In Belfast learning about Surge Hydro’s innova...,794637846581690370,SenAngusKing,,I
3,2016-11-04 20:05:00+00:00,Thanks Robbins Lumber family for meeting to di...,794631555129884673,SenAngusKing,,I
4,2016-11-03 21:15:00+00:00,Fantastic Q & A with impressive students from ...,794286782938574848,SenAngusKing,,I

In [211]:
tweets2016['Party'].isna().sum()

0

In [213]:
tweets2016.to_csv('train2016.csv', index = False)